
.speaker-card {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 350px;
    opacity: 0;

    &:hover {
        cursor: pointer;
    }
    
    .header {
        display: flex;

        .portrait-avatar {
            height: 175px;
            width: 175px;
            border-radius: 150px;
            overflow: hidden;
            outline: none;
            margin: 16px auto;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 16px;
        padding: 0 16px;
    }

    .action {
        position: absolute;
        min-width: 24px;
        top: 6px;

        &.edit {
            left: 6px;
        }
    
        &.delete {
            right: 6px;
        }

        &.close {
            right: 6px;
        }
    }

    .edit-actions {
        display: flex;
        flex-direction: column;
        margin-left: -12px;
        margin-right: 24px;

        .edit, .delete {
            min-width: 24px;
        }

        .edit {
            margin-bottom: 8px;
        }
    }
}