
.speaker-card {
    position: relative;
    margin: 15px 0;
    width: 350px;

    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    
    .header {
        display: flex;

        .portrait-avatar {
            height: 175px;
            width: 175px;
            border-radius: 150px;
            overflow: hidden;
            outline: none;
            margin: 16px auto;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 16px;
        padding: 0 16px;
    }

    .action {
        position: absolute;
        min-width: 24px;
        top: 6px;

        &.edit {
            left: 6px;
        }
    
        &.delete {
            right: 6px;
        }
    }

    &:hover {
        box-shadow: 0px 0px 150px #000000;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.2);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.2);
        transition: all 200ms ease-in;
        transform: scale(1.2);
    }

}