<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
    </head>

    <body>        
        <div id='root' />

        <script>
            window.DeLorean = {
                release: '<%= htmlWebpackPlugin.options.version %>',
                environment: '<%= htmlWebpackPlugin.options.environment %>'
            };
        </script>
    </body>
</html>