.venue {
    display: block;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
    min-height: 300px;

    .card {
        position: absolute;
        z-index: 100;
        top: 50%;
        right: 30%;
        max-width: 400px;
        -webkit-transform: translate3d(50%, -50%, 0);
        transform: translate3d(50%, -50%, 0);
    }
}

.intro {
    display: flex;
    min-height: 600px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 600px;
    
    &:before {
        top: 0;
        left: 0;
        z-index: 3;
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
    }

    & > div {
        z-index: 5;
    }

    .description {
        max-width: 80%;
    }

    .event-logo {
        max-height: 170px;
        max-width: 300px;
    }
}

.map-container {
    display: flex;
    min-height: 600px;
    align-items: center;
}



@media (min-width: 1004px) {
    .intro {
        min-height: 90vh;
        background-size: 100vw 90vh;
    }

    .map-container {
        min-height: 90vh
    }
}

