html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 1.5;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-size: 1.4rem;
}

*, *::before, *::after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

button, select, 
button:focus, 
select:focus {
    outline: none;
}

h2 {
    font-weight: 200 !important;
}

.logo a {
    display: block;
    width: 100%;
    max-width: 50px;
    transition: width .4s ease-in-out;
    position: relative;
}

.container {
    max-width: 1152px;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}