
.home-page {
  @import './sections/Map.scss';
  @import './sections/Papercall.scss';
  @import './sections/Sponsors/index.scss';

  .intro {
    display: flex;
    min-height: 600px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 600px;
    position: relative;

    &:before {
      top: 0;
      left: 0;
      z-index: 3;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.65);
    }

    & > div {
      z-index: 5;
    }

    h3 {
      margin-bottom: 6px;
      margin-top: 0;
      font-weight: 400;
    }

    .description {
      max-width: 80%;
    }

    .event-logo {
      max-height: 170px;
      max-width: 300px;
    }
  }

  @media (min-width: 1000px) {
    .intro {
      min-height: 90vh;
      background-size: 100vw 90vh;
    }
  }
}
