const DevfestDetails = {
    name: 'DevFest',
    location: 'Windy City',
    year: 2019
}

const FirebaseConfig = {
    apiKey: '',
    authDomain: '',
    databaseURL: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: ''
};

const EventbriteConfig = {
    eventId: ''
}

const MapsConfig = {
    apiKey: ''
}

module.exports = { 
    MapsConfig,
    DevfestDetails,
    FirebaseConfig,
    EventbriteConfig
}