.menu-contents {
    margin-top: 16px;

    .label {
        border-radius: 25px;
        text-transform: none;
        margin: 0 12px;
    }

     & > button {
         margin: 0 4px;
     }
}

.menu-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1500;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.action-menu {
    position: fixed;
    right: 1.6rem;
    bottom: 1.6rem;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    z-index: 3000;

    & > button {
        display: flex;
        margin-top: 1.6rem;
        margin-left: auto;
    }
}

.fab-button {
    -webkit-transition: -webkit-transform .5s !important;
    -moz-transition: -moz-transform .5s !important;
    -o-transition: -o-transform .5s !important;
    transition: transform .5s !important;
}

.menu-open {
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
