.sponsors {
  display: flex;
  flex-flow: column;

  header {
    display: flex;
    width: 100%;
    min-height: 200px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    .action {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    a,
    a:visited {
      color: #fff;
    }
  }

	.sponsor-grid {
		display: grid;
		padding: 38px 0;
		grid-template-columns: repeat(auto-fill, minmax(90px, auto));
		grid-gap: 8px;

    @import './Tile.scss';
	}
}
