.description-editor {
    height: 30rem;
    width: 100%;
    resize: none;
    outline: none;
}

.editor {
    &-session {
        &-header {
            display: flex;
            padding: 0 0 24px 0;
            flex-direction: column;

            .field-containers {
                margin: auto 0;
            }

            .speaker-selector {
                min-width: 400px;
            }

            .session-schedule {
                display: flex;

                .session-duration {
                    min-width: 100px;
                }

            }
        }

        &-title {
            display: flex;
            padding: 24px 0 0 0;

            .type-selector {
                min-width: 100px;
            }

            .session-title {
                width: 50vw;
            }

            .session-location {
                width: 150px;
            }
        }
    }
}