.header {
  .inner {
    height: 64px;
    display: flex;
    transition: height 0.4s ease-in-out;
  }

  .nav {
    flex: 1;

    .thicc-tab {
      height: 100%;
    }
  }

  .get-tickets-header {
    margin: auto 0;
  }

  .get-ticket-mobile {
    position: fixed;
    display: flex;
    bottom: 18px;
    right: 18px;
    z-index: 1500;
    transform: scale(0);

    &.extended svg {
      margin: 0 6px 0 0;
    }
  }

  .login {
    margin: auto 16px;
    height: 42px;

    img {
      border-radius: 50%;
      height: 42px;
      width: 42px;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 0 0 2px #2196f3;
        cursor: pointer;
      }
    }

    .user-selected {
      box-shadow: 0 0 0 2px #2196f3;
    }
  }
}

.user-menu {
  margin-top: 12px !important;
  overflow: visible !important;

  &:before {
    top: -5px;
    right: 12px;
    width: 15px;
    height: 15px;
    content: ' ';
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    transform: rotate(45deg);
    background-color: #424242;
    z-index: -100;
  }
}
