.venue {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 600px;


    @media screen and (min-width: 510px) {
        .card {
            right: 30%;
        }
    }

    .card {
        position: absolute;
        z-index: 100;
        top: 50%;
        right: 50%;
        max-width: 400px;
        transform: translate3d(50%, -50%, 0);
        -webkit-transform: translate3d(50%, -50%, 0);
    }
}
