.editor {
    display: flex !important;
    @import '../../../node_modules/tinymce/skins/ui/oxide-dark/skin.min.css';

    .bio {
        height: 30rem;
        width: 100%;
        resize: none;
        outline: none;
    }
}

.portrait-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.editor-profile-header {
    display: flex;
    padding: 24px 0;
    justify-content: space-around;

    .editor-portrait {
        height: 250px;
        width: 250px;
        display: flex;
        border: 2px whitesmoke solid;
        border-radius: 150px;
        color: dimgrey;
        overflow: hidden;
        outline: none;

        svg {
            height: 150px;
            width: 150px;
            overflow: hidden;
            margin: auto;
        }

        &.portrait-error {
            border-color: #ff0000;
        }

        &:hover {
            background-color: rgba(150,150,150,0.20);
            cursor: pointer;
        }
    }

    .field-containers {
        margin: auto 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

